[submodule "x265"]
	path = x265
	url = https://github.com/shihuade/x265.git
[submodule "HEVCStandard"]
	path = HEVCStandard
	url = https://github.com/shihuade/HEVC-Reference.git
[submodule "openHEVC"]
	path = openHEVC
	url = https://github.com/shihuade/openHEVC.git
[submodule "Tool-ThirdParty/RDPlot"]
	path = Tool-ThirdParty/RDPlot
	url = https://github.com/shihuade/RDPlot.git
[submodule "Tool-ThirdParty/hevcbrowser"]
	path = Tool-ThirdParty/hevcbrowser
	url = https://github.com/shihuade/hevcesbrowser.git
[submodule "Tool-ThirdParty/BsrVideoAnalyzer"]
	path = Tool-ThirdParty/BsrVideoAnalyzer
	url = https://github.com/JieHe96/BsrVideoAnalyzer.git
[submodule "Tool-ThirdParty/GitlHEVCAnalyzer"]
	path = Tool-ThirdParty/GitlHEVCAnalyzer
	url = https://github.com/lheric/GitlHEVCAnalyzer.git
[submodule "Tool-ThirdParty/XimingCheng-HEVCAnalyzer"]
	path = Tool-ThirdParty/XimingCheng-HEVCAnalyzer
	url = https://github.com/XimingCheng/HEVCAnalyzer.git
[submodule "ThirdPartyCodec/ks265codec"]
	path = ThirdPartyCodec/ks265codec
	url = https://github.com/shihuade/ks265codec.git
[submodule "ThirdPartyCodec/kvazaar"]
	path = ThirdPartyCodec/kvazaar
	url = https://github.com/shihuade/kvazaar.git
[submodule "AITech4Codec/CTUPartitionAI"]
	path = AITech4Codec/CTUPartitionAI
	url = https://github.com/shihuade/CPH.git
